@font-face {
	font-family: 'DINMediumCondensed';
	src: url('/fonts/DINNextLTPro-MediumCond.eot');
	src: url('/fonts/DINNextLTPro-MediumCond.eot?#iefix') format('embedded-opentype'),
		url('/fonts/DINNextLTPro-MediumCond.woff') format('woff'),
		url('/fonts/DINNextLTPro-MediumCond.ttf') format('truetype');
	/*font-weight: 500;*/
	font-style: normal;
}

@font-face {
	font-family: 'DINCondensed';
	src: url('/fonts/DINNextLTPro-Condensed.eot');
	src: url('/fonts/DINNextLTPro-Condensed.eot?#iefix') format('embedded-opentype'),
		url('/fonts/DINNextLTPro-Condensed.woff') format('woff'),
		url('/fonts/DINNextLTPro-Condensed.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DIN';
	src: url('/fonts/DINNextLTPro-Regular.eot');
	src: url('/fonts/DINNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('/fonts/DINNextLTPro-Regular.woff') format('woff'),
		url('/fonts/DINNextLTPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body{
  font-family: 'DINMediumCondensed', Arial, Helvetica, sans-serif;
  /*color:white;*/
  /*background:black url(http://s.cdpn.io/16327/texture_bg.jpg) no-repeat 50% 0px;*/
  /*background:black url(/css/animate-x3.gif) no-repeat 50% 0px;*/
  /*background:black url(/css/animate-x3.gif);*/
  /*margin:3% 3% 0 3%;*/
  overflow:hidden;
  background: #fff;
}

/*body::after {
  content: "";
  background: url(/css/animate-x3.gif);
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}
*/

.quote {
  color:#000;
  font-size: 52px;
  text-transform: uppercase;
  line-height: 56px;
  width: 30%;
  /*border: solid 1px red;*/
}

#quote{	
  position: fixed; 
  left: 10%;
  top: 30%;
}

#quote2{
  position: fixed;
  right: 10%;
  top: 30%;
}

.tweeter {
  font-family: 'DIN', Arial, Helvetica, sans-serif;
  color:#000;
  font-size: 20px;
  padding-left: 3px;
}

#tweeter{	
  position: fixed; 
  left: 10%;
  bottom: 15%;
}

#tweeter2{
  position: fixed; 
  left: 60%;
  bottom: 15%;
}


#cta-box { 
  position: fixed;
  color:#fff;
  font-size: 180px;
  text-transform: uppercase;
  line-height: 160px;
  width: 40%;
  left: 50%;
  top: 25%;
}

#hellokydologo {
  position: fixed;
  left: 50%;
  bottom: 15%	
}

#third {
	background: #000;	
	color:#fff;
	position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    /*z-index: -100;*/
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    /*background: url(polina.jpg) no-repeat;*/
    background-size: cover; 
}

video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    /*background: url(polina.jpg) no-repeat;*/
    background-size: cover; 
}

.border-center { 
        width: 100px;
        margin-right: 100px;
        padding-right: 15px; 
        position: relative;
    }

.border-center:before { content: '';
    position: absolute;
    bottom: 60%;
    border-bottom: 2px solid black;
    width: 100px;
    z-index:0;
}


.border-center2 { 
            width: 300px;
            margin-right: 300px;
            padding-right: 35px; 
            position: relative;
        }

.border-center2:before { content: '';
        position: absolute;
        bottom: 55%;
        border-bottom: 2px solid white;
        width: 300px;
        z-index:0;
    }    

.profileImg {
	/*width: 36px;*/
	padding-right: 8px;
	margin-top: -10px;
	float: left;
}  

.profileImg img {	
	width: 36px;
}     

#logo {
  position: fixed; 
  left: 4%;
  top: 4%;
} 